@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Rubik", sans-serif;
    background-color: #2f3292;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #23266d; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5055f7; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b41f7;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    margin: 0 auto;
    /* border-bottom: solid 1px black; temporary - dev only! */
}

nav img {
    height:auto;
    width: 100px;
    margin: 10px;
}

.nav .active {
    border-bottom: solid #ff6c17;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    margin-left: 10px;
    font-size: large;
    border-bottom: solid #494dc1;
}

nav li a:hover:not(.active) {
    background-color: #4043a3;
    border-bottom: solid #ff6c17;
}

 /* nav bar styling for mobile*/
 .openbtn {
    padding: 5px 10px;
    font-size: 2.3em;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 0, 0, 0);
    border: none;
 }

 .openbtn:hover {
    background-color: #4043a3;
 }

 .nav_mobile .active {
    border-bottom: solid 3px #ff6c17;
 }

 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #373996;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -10px 0px 10px rgb(36, 38, 110, 0.7);
  }
  
  .sidenav a {
    padding: 10px 22px;
    margin: 30px 20px;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    display: table;
    transition: 0.3s;
    border-bottom: solid 3px #494dc1;
  }

  .sidenav .closebtn {
    border: none;
  }
  
  .sidenav a:hover {
    border-bottom: solid #ff6c17;
    background-color: #4043a3;
  }

  .sidenav .closebtn:hover {
    border: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
  }
  


/* for mobile responsiveness*/
@media (max-width: 580px) {
    div.nav {
        display: none;
    }
    div.nav_mobile {
        flex-direction: column;
        align-items: center;
    }
    nav {
        padding: 0px 20px;
    }
}

@media (min-width: 580px) {
    div.nav_mobile {
        display: none;
    }
    
}

/* for tablet responsiveness */
@media (max-width : 1280px) and (min-width : 950px) {
    nav {
        padding: 0px 100px;
    }
    nav ul li a {
        margin-left: 5px;
    }
}

/* for desktop responsiveness */
@media (max-width: 950px) and (min-width: 580px) {
    nav {
        padding: 0px;
        flex-direction: column;
        padding-bottom: 30px;
    }
    nav ul {
        margin-top: 20px;
    }
}

/* background image */
div.background-body-2 {
    position: fixed;
    z-index: -999;
    top: 50px;
}

div.mobile-background-body-2 {
    position: fixed;
    z-index: -999;
    top: 0;
}

div.mobile-background-body-2 {
    opacity: 0.5;
}

/* main */
.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 300px;
}

.container-form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #68dff9 3px;
    border-radius: 20px;
    padding: 50px 80px;
    background-color: #3943c3;
}

.container-form_box .header-form h1{
    font-size: 3em;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 900;
    /* font-style: italic; */
}

.container-form_box .header-form p{
    font-size: 1.2em;
    color: white;
    text-align: center;
    font-weight: 400;
}

.container-form_box .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

input[type="text"], input[type="email"], textarea {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

input[type="submit"] {
    padding: 15px 50px;
    background-color: #ff6c17;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: medium;
}

button-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.contact-footer {
    display: flex;
    justify-content: center;
    color: white;
}

.contact-footer p{
    margin: 30px 20px 0px 20px;
}

.contact-footer i{
    margin-right: 10px;
}

@media (max-width: 580px) {
    .background-body-2 {
        display: none;
    }

    .container-form {
        margin: 30px;
    }

    .container-form_box {
        width: 100%;
        padding: 30px 20px;
    }

    .container-form_box .header-form h1 {
        font-size: 2.5em;
    }

    .container-form_box .header-form p {
        font-size: 1.1em;
    }

    .container-form_box .form {
        width: 100%;
    }

    input[type="text"], input[type="email"], textarea {
        width: 100%;
    }

    .contact-footer {
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .contact-footer p {
        margin: 10px;
    }
}

@media (min-width: 580px) {
    .mobile-background-body-2 {
        display: none;
    }
}

/* for tablet responsiveness */
@media (max-width : 1280px) and (min-width : 950px) {
    .container-form {
        margin: 100px;
    }

    .container-form_box {
        padding: 50px;
    }

    .contact-footer {
        margin-top: 20px;
    }

    .contact-footer p {
        margin: 10px;
        font-size: 15px;
    }
}

/* for desktop responsiveness */
@media (max-width: 950px) and (min-width: 580px) {
    .container-form {
        margin: 100px;
    }

    .container-form_box {
        padding: 50px;
    }

    .contact-footer {
        margin-top: 20px;
    }

    .contact-footer p {
        margin: 10px;
        font-size: 15px;
    }
}

/* footer */
.container-footer {
    margin: auto 100px;
}

.container-footer .row {  
    display: flex;
    flex-wrap: wrap;
    margin: 50px 100px;
}

.container-footer .left {
    flex: 30%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.container-footer .left ul {
    display: flex;
    list-style: none;

}

.container-footer .left ul li i{
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 100%;
    color: white;
    background-color: #343698;
    font-size: 15px;
    border: solid #4548c2;
}

.container-footer .right {
    flex: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer .right ul{
    display: flex;
    list-style: none;
}

.container-footer .right ul li a{
    margin: 0 25px;
    padding: 10px 0;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: solid 3px #ff6c17;
}

.container-footer .footer-line {
    margin: 0 100px;
    border: solid 1px #4146c0;
}

.copyright {
    margin: 40px 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #4b4ec4;
}

/* for mobile reponsiveness */
@media (max-width: 580px) {
    .tagline_box img {
        height: 100px;
    }

    .tagline_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box {
        margin: 15px 30px;
    }

    .tagline_box h2 {
        font-size: 1.5em;
    }

    .container_tagline {
        height: 30%;
    }
    
    .tagline_box button {
        margin: 20px 0;
        padding: 10px 30px;
        font-size: small;
    }

    .container-footer {
        margin: auto 10px;
    }

    .container-footer .row {
        flex-direction: column;
        margin: 10px;
    }

    .container-footer .left {
        padding: 15px 10px;
        justify-content: center;
    }

    .container-footer .left ul li i{
        font-size: 1em;
    }


    .container-footer .right {
        display: none;
    }

    .container-footer .footer-line {
        margin: 0 30px;
    }

    .container-footer .copyright {
        margin: 20px 30px;
    }

    .container-footer_box .copyright p {
        font-size: x-small;
    }


}

/* for tablet responsiveness */
@media (max-width : 1280px) and (min-width : 580px) {
    .container-footer .left {
        justify-content: center;
    }

    .container-footer .footer-line {
        margin: 0;
    }

    .container-footer .copyright {
        margin: 40px 0;
    }
}